--extra-index-url https://artefact.skao.int/repository/pypi-internal/simple
numpy == 1.17.2
pytango >= 9.3.3
jsonschema >= 3.2.0
ska-ser-logging >=0.4.1
ska-tango-base >=0.11.2
marshmallow
ska-tmc-cdm
fire
ska-tmc-common
ska-ser-log-transactions
ska-ser-skuid
