pytest
pytest-bdd
pytest-cov
pytest-json-report
pytest-forked
pytest-mock
pytest-xdist
pytest-repeat
pytest-timeout
coverage
pytest-bdd==3.4.0
flake8==3.9.2
pylint==2.8.2; python_version >= "3.6" and python_version < "4.0"
poetry 
black 
isort 
pylint-junit